{% extends "voyagevault/layout.html" %}
{% load static %}

{% block title %}
Contact Us
{% endblock %}

{% block body %}
<div class="title">Contact Us<br></div>
<div align="center">
    <form>
        <label for="username">Query category</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">State your issue</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>
{% endblock %}