{% extends "voyagevault/layout.html" %}
{% load static %}

{% block title %}
Login to voyagevault
{% endblock %}


{% block body %}
<div class="title">Login<br></div>
<div align="center">
    <form>
        <label for="username">Enter your username</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Enter your password</label><br>
        <input type="text" id="password" name="password"><br><br>
        <input type="submit" value="Login">
    </form>
    <button href="/voyagevault/register">Register an account!</button>
</div>

{% endblock %}