@font-face { 
    font-family: Pacifico; 
    src: url("../fonts/Pacifico-Regular.ttf"); 
}

@font-face {
    font-family: Mukta;
    src: url("../fonts/Mukta-Regular.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

body {
    font-family: Mukta;
}

.index-page {
    background: fixed no-repeat center url('../assets/halong_bg.jpg');
    background-size: cover;
}

.page {
    background: fixed no-repeat center url('../assets/halong_bg.jpg');
    background-size: cover; 
    display: block;
}


.layer {
    padding: 2em auto;
}

.content {
    max-width: 500px;
    margin: 6em auto;
}

.content-package {
    max-width: 1000px;
    margin: 2em auto;
}

.search-bar-content {
    max-width: 750px;
    margin: 3em auto 0em auto;
}

@media screen and (max-width: 1280px) {
    .content {
        margin: 4em autp;
    }
}

.content-wide {
    max-width: 1200px;
    margin: 6em auto;
    justify-content: center;
}

#search.content-wide {
    max-width: 1200px;
    margin: 0em 6em 6em 6em;
    justify-content: center;
}


@media screen and (max-width: 1280px) {
    .content-wide {
        margin: 4em autp;
    }
}

.package-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 80em;
}

.package-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.package {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    box-sizing: border-box;
    max-width: 20rem;
    height: auto;
    border-radius: 12px;
    text-overflow: ellipsis;
    background-color:#eee;
}

.package-image {
    margin: 1em 1em 0em 1em;
}

.package-image img {
    height: 12rem;
    width: 18rem;
    border-radius: 10px;
}

.package-text {
    margin-right: -1px;
    padding: 0.5em 1em 0em 1em;
    border-radius: 10px;
    text-align: justify;
    color: black;
}

.package-title {
    font-weight: bold;
    font-size: large;
}

.package-desc {
    height: 4.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.package-info {
    margin: 5px 10px 2px 10px;
    color: black;
    text-align: center;
}


.content-bottom {
    padding: 0em 4em;
    margin: 0 1em;
    position: relative;
    z-index: 1;
}

form .field-group {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-bottom: 20px;
    padding: 2px 10px 2px 0;
    border-radius: 35px;
}

form .field-group .text-field {
    flex: 4 50%;
}

.field-group span {
    flex: 1;
    -webkit-box-flex: 1;
    width: 20%;
    color: #fff;
    background: transparent;
    line-height: 49px;
    text-align: right;
}

.field-group input {
    padding: 13px 0 10px 15px;
    font-size: 17px;
    font-weight: 300;
    color: #ddd;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.field-group-long textarea {
    padding: 13px 0 10px 0px;
    font-size: 17px;
    font-weight: 300;
    color: #ddd;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

form .field-group-long {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-bottom: 20px;
    padding: 2px 10px 2px 0;
    border-radius: 35px;
}

#filters.search-filter {
    display: none;
    max-height: 0;
}

form .search-filter .field-group-long {
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    margin-bottom: 20px;
    padding: 2px 10px 2px 0;
    border-radius: 35px;  
    width: 65%;
    float: left;
    margin-left: 5%;
}

form .field-group-long .text-field {
    flex: 4 50%;
}

form .dropdown {
    height: 53px;
    width: 30%;
    margin-bottom: 10px;
    padding: 2px 10px 2px 10px;
    border-radius: 35px;
    background-color: rgba(255, 255, 255, 0.15);
    color: #ddd;
    float: left;
}

.dropdown option{
    color: black;
    padding: 0%;
}

.field-group-long span {
    flex: 1;
    -webkit-box-flex: 1;
    width: 20%;
    color: #fff;
    background: transparent;
    line-height: 49px;
    text-align: center;
}

.field-group-long input {
    padding: 13px 0 10px 0;
    font-size: 17px;
    font-weight: 300;
    color: #ddd;
    letter-spacing: 1px;
    border: none;
    background: transparent;
    box-sizing: border-box;
    width: 100%;
    outline: none;
}

.search-option {
    float: left; 
    width: 25%; 
    margin: 5px auto;
    text-align: center;
}

::placeholder {
    color: #bbb;
}

.text-field button.btn {
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border: none;
    color: #fff;
    padding: 11px 15px;
    text-transform: uppercase;
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 2px;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    border-radius: 35px;
    width: 100%
}


.btn:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.content ul li {
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    margin-top: 15px;
    padding-left: 3px;
    padding-right: 3px;
}

ul.list-login-bottom a{
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: normal;
    text-transform: uppercase;
    color: #FFFFFF !important;
}

ul.list-login-bottom li:nth-child(2){
    float: right;
}


.title {
    display: flex;
    justify-content: center;
    margin: 3%;
    font-size: 250%;
    
}

.center {
    text-align: center;
    transform: translateY(40%);
}

.heading-center {
    text-align: center;
    color: white;
    font-family: Mukta;
    transform: translateY(90%);
}

.package-box {
    border: solid black;
    border-radius: 30px;
    background-color: rgba(158, 158, 158, 0.368);
    max-width: 1200px; 
    margin: 3em auto;
    border-width: thin; 
    padding-bottom: 1em;
}

.package-page-img {
    width: 100%; 
    margin: auto; 
    display: block; 
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.package-heading {
    text-align: center;
    color: white;
    font-family: Mukta;
    margin-top: 25px;
    text-transform: uppercase;
}

.content-text {
    font-family: Mukta;
    color: white;
    line-height: 200%;
}

.package-review-ta {
    font-size: 17px;
    font-weight: 300;
    color: #ddd;
    letter-spacing: 1px;
    border: none;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    background: rgba(255, 255, 255, 0.15);
    display: flex;
    margin-bottom: 20px;
    padding: 5px 0 0 5px;
    border-radius: 10px;
    overflow: hidden;
    resize: none;
}

.review-block {
    background: rgba(255, 255, 255, 0.2);
    border: thin solid;
    border-radius: 15px;
    padding: 2px 7px 0 7px;
    text-align: justify;
}

.button-delete {
    transition-duration: 0.3s;
    margin-bottom: 4px; 
    margin-right: 5px; 
    border-radius: 5px;
}

.button-delete:hover {
    background-color:orangered;
    color: white;
}

.button-submit {
    transition-duration: 0.3s;
    margin-bottom: 4px; 
    margin-right: 5px; 
    border-radius: 5px;
}

.button-submit:hover {
    background-color:cornflowerblue;
    color: white;
}

/* CSS */
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 100px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 4rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 20px;
  margin-right: 20px;
}

.button-36:hover {
  box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
  transition-duration: .1s;
}

@media (min-width: 768px) {
  .button-36 {
    padding: 0 2.6rem;
  }
}

.logo {
    font-family: Pacifico;
    text-align: center;
    font-size: 600%;
    margin-bottom: 10px;
    color: white;
}
