{% extends "blayout.html" %}

{% block content %}
<head>
    <title>Voyage Vault (B) | Create Package</title>
</head>

<style>
    .tab {
        display: none;
    }

    .step {
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbbbbb;
        border: none;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.5;
    }

    .step.active {
        opacity: 1;
    }

    .step.finish {
        background-color: #04AA6D;
    }

    input.invalid {
        background-color: rgba(255, 221, 221, 0.3);
    }

    textarea.invalid {
        background-color: rgba(255, 221, 221, 0.3);
    }

    .item {
        margin: 2px;
        padding-right: 15px;
        padding-left: 5px;
    }
</style>

<body class="page" method="post">
    <h1 class="heading-center">Create A Package</h1>
    <form class="package-box" id="form" style="padding: 2em;" method="post">
        <div class="tab">
            <img class="package-page-img" id="image" style="border-radius: 30px;" onerror="document.getElementById('imgerr').hidden=false;" onload="document.getElementById('imgerr').hidden=true;">
            <p id="imgerr" class="content-text" style="text-align: center;" hidden="true">Nothing seems to be shown, check your link again</p>
            <br>
            <p class="content-text" style="text-align: center;">Your image will appear above</p>
            <div class="field-group">
                <span class="fa-solid fa-image" aria-hidden="true" style="flex: 0%"></span>
                <input id="imglink" name="imglink" placeholder="Enter link of image here" class="text-field" oninput="loadImage(this); notInvalid(this);" style="flex: 15 50%" maxlength="512" required>
            </div>
            <div class="content-text" style="font-size: large; margin-left: 5px;">
                Package type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="GRP" id="GRP" name="type" checked required><label for="GRP">Tour Group</label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="radio" value="FNE" id="FNE" name="type"><label for="FNE">Free-and-Easy</label>
            </div>
            <div class="field-group">
                <span class="fa-solid fa-pencil" aria-hidden="true" style="flex: 0%"></span>
                <input id="pname" name="pname" placeholder="Enter title" class="text-field" style="flex: 15 50%" maxlength="128" oninput="notInvalid(this)" required>
            </div>
            <div class="field-group">
                <span class="fa-solid fa-pencil" aria-hidden="true" style="flex: 0%;"></span>
                <textarea id="description" name="description" placeholder="Enter description" class="text-field" style="flex: 15 50%" maxlength="512" oninput="notInvalid(this)" onkeypress="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)" required></textarea>
            </div>
            <div class="field-group">
                <span class="fa-solid fa-list" aria-hidden="true" style="flex: 0%;"></span>
                <textarea id="itinerary" name="itinerary" placeholder="Enter itinerary (leave blank if free-and-easy)" class="text-field" style="flex: 15 50%" maxlength="4000" oninput="notInvalid(this)" onkeypress="textAreaAdjust(this)" onkeyup="textAreaAdjust(this)"></textarea>
            </div>
            <div class="field-group" style="margin: 0em 0.5em 2em 0em; width: 24.1%; float: left;">
                <span class="fa-solid fa-clock" aria-hidden="true" style="flex: 11%"></span>
                <input id="duration" name="duration" placeholder="Enter duration in days" class="text-field" style="flex: 15 50%; width: 30%;" oninput="notInvalid(this)" type="number" min="1" required>
            </div>
            <div class="field-group" style="margin: 0em 0.5em 2em 0.5em; width: 24.1%; float: left;">
                <span class="fa-solid fa-dollar-sign" aria-hidden="true" style="flex: 7%"></span>
                <input id="aprice" name="aprice" placeholder="Enter adult price in SGD" class="text-field" style="flex: 15 50%; width: 30%;" oninput="notInvalid(this)" type="number" min="1" required>
            </div>
            <div class="field-group" style="margin: 0em 0em 2em 0.5em; width: 24.1%; float: left;">
                <span class="fa-solid fa-dollar-sign" aria-hidden="true" style="flex: 7%"></span>
                <input id="cprice" name="cprice" placeholder="Enter child price in SGD" class="text-field" style="flex: 15 50%; width: 30%;" oninput="notInvalid(this)" type="number" min="1" required>
            </div>
            <div class="field-group" style="margin: 0em 0em 2em 0.5em; width: 24.1%; float: left;">
                <span class="fa-solid fa-users" aria-hidden="true" style="flex: 10%"></span>
                <input id="cap" name="cap" placeholder="Enter group capacity" class="text-field" style="flex: 15 50%; width: 30%;" oninput="notInvalid(this)" type="number" min="0" >
            </div>
            <div class="field-group" style="width: 100%;">
                <span class="fa-solid fa-link" aria-hidden="true" style="flex: 0%"></span>
                <input id="link" name="link" placeholder="Enter link to your website here" class="text-field" style="flex: 15 50%" maxlength="512" oninput="notInvalid(this)" required>
            </div>
        </div>
        <div class="tab">
            <p class="content-text" style="text-align: center; font-size: larger;">Now to add the locations...</p>
            <br>
            <datalist id="countries">
                {% for country in countries %}
                    <option value="{{country.cname}}"></option>
                {% endfor %}    
            </datalist>
            <p class="content-text" style="font-size: large;">Countries:</p>
            <div id="countries-form">
                <div class="field-group">
                    <input list="countries" class="text-field" placeholder="Add a country" oninput="notInvalid(this)" maxlength="64" required>
                    <button type="button" onclick="addCountry(this)" class="button-submit">Add</button>
                    <button type="button" onclick="removeCountry(this)" class="button-delete" style="display: none;">Remove</button>
                </div>
                <input type="number" hidden="true" id="hiddenCountry" name="hiddenCountry" value="1">
                <input type="text" hidden="true" id="countryInputs" name="countryInputs" value="">
            </div>
            <datalist id="locations">
                {% for location in locations %}
                    <option value="{{ location.lname }}"></option>
                {% endfor %}    
            </datalist>
            <datalist id="regions">
                {% for region in regions %}
                    <option value="{{ region.region }}"></option>
                {% endfor %}    
            </datalist>
            <p class="content-text" style="font-size: large;">Places of Interest (to recommend to customers if it is a free-and-easy package):</p>
            <div id="locations-form">
                <div>
                    <div class="field-group" style="float: left; width: 40%; margin-right: 1em;">
                        <input list="locations" class="text-field" placeholder="Add the location" oninput="notInvalid(this)" maxlength="128" required>
                    </div>
                    <div class="field-group" style="float: left; width: 28.5%; margin-right: 1em;">
                        <input list="regions" class="text-field" placeholder="Add the region" oninput="notInvalid(this)" maxlength="64" required>
                    </div>
                    <div class="field-group" style="float: left; width: 28.5%;">
                        <input list="countries" class="text-field" placeholder="Add the country" oninput="notInvalid(this)" maxlength="64" required>
                        <button type="button" onclick="addLocation(this)" class="button-submit">Add</button>
                        <button type="button" onclick="removeLocation(this)" class="button-delete" style="display: none;">Remove</button>
                    </div>
                </div>
                <input hidden="true" id="hiddenLocation" name="hiddenLocation" value="1">
                <input type="text" hidden="true" id="locationInputs" name="locationInputs" value="">
            </div>
        </div>
        <div class="tab">
            <p class="content-text" style="text-align: center; font-size: larger;">Now to add some tags...</p>
            <br>
            <datalist id="tags">
                {% for tag in tags %}
                    <option value="{{tag.tag}}"></option>
                {% endfor %}    
            </datalist>
            <div id="tags-form">
                <div class="field-group">
                    <input list="tags" class="text-field" placeholder="Add a tag" oninput="notInvalid(this)" maxlength="64" required>
                    <button type="button" onclick="addTag(this)" class="button-submit">Add</button>
                    <button type="button" onclick="removeTag(this)" class="button-delete" style="display: none;">Remove</button>
                </div>
                <input hidden="true" id="hiddenTag" name="hiddenTag" value="1">
                <input type="text" hidden="true" id="tagInputs" name="tagInputs" value="">
            </div>
            <br>
            <p class="content-text" style="text-align: center; font-size: larger;">Now to add some departure dates (ignore if it is free-and-easy)...</p>
            <div class="field-group">
                <input id="dates" name="dates" form="form" type="text" class="text-field date" placeholder="Pick the multiple dates" oninput="notInvalid(this)" readonly>
            </div>
        </div>
        <br>
        <div style="text-align: right;">
            <button class="button-36" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button class="button-36" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
        <div style="text-align: center; margin-top: 30px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>
    </form>

    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-2c7831bb44f98c1391d6a4ffda0e1fd302503391ca806e7fcc7b9b87197aec26.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <script src="{{ url_for('static',filename='scripts/makePackage.js')}}"></script>


</body>
{% endblock %}