{% extends "blayout.html" %}

{% block content %}
    <head>
        <h1></h1>
        <title>
            VoyageVault (B) | Register
        </title>
    </head>
    <body class="page">
      <div class="center">
        <p class="logo">VoyageVault</p>
        <br>
        <p class="content-text" style="font-size: larger; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">FOR BUSINESSES</p>
    </div>
      <div class="layer">
        <div class="content">
          <div class="content-bottom">
              {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
                {% for message in errors %}
                  <div class="alert alert-danger" role="alert">                
                    {{ message }}
                  </div>    
                {% endfor %}
              {% endif %}
              {% endwith %}
              {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                  {% for message in successes %}
                    <div class="alert alert-success" role="alert">                
                      {{ message }}
                    </div>    
                  {% endfor %}
                {% endif %}
              {% endwith %}           
              <form action="" method="post">
                  <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="aname" id="aname" type="text" value placeholder="Business Name" maxlength="128" required>
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="aemail" id="aemail" type="text" value placeholder="Business Email" maxlength="128" required>
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="hotline" id="hotline" type="number" value placeholder="Business Hotline" required>
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="apassword" id="apassword" type="password" value placeholder="Password" maxlength="512" required>
                    </div>
                  </div>
                  <div class="text-field">
                    <button type="submit" class="btn">Create Business Account</button>
                  </div>
                  <ul class="list-login-bottom">
                    <li class><a href="{{ url_for('blogin') }}" class>Business Login</a></li>
                    <li class><a href="{{ url_for('register') }}" class>User Register</a></li>
                  </ul>
              </form>
          </div>
        </div>
      </div>
    </body>

{% endblock %}