{% extends "layout.html" %}

{% block content %}
    <head>
        <h1></h1>
        <title>
            VoyageVault | Welcome
        </title>
    </head>
    <body class="index-page">
      <div class="center">
        <p class="logo">VoyageVault</p><br>
        <p class="content-text">
          {% if session['fname'] %}
            Hi <strong>{{ session['fname'] }}</strong>, the perfect vacation is only a few clicks away
          {% else %}
            The perfect vacation is only a few clicks away
          {% endif %}
        </p>
        <div class="layer" style="margin-top: 2em;">
          <div>
            <form>
              <button class="button-36" formaction="{{ url_for('search') }}">Find your getaway</button>
              <button class="button-36" formaction="{{ url_for('view_package',pid=0) }}">Take me somewhere</button>
            </form>
          </div>
        </div>
      </div>
    </body>

{% endblock %}