<!DOCTYPE html>
<html lang="en">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" >
    <script src="https://kit.fontawesome.com/21ff7da9d7.js" crossorigin="anonymous"></script>
    
    <nav class="navbar navbar-expand-lg navbar-dark">
      <a class="navbar-brand" href="/" style="font-family: Pacifico;">VoyageVault</a>
    
      <div class="collapse navbar-collapse" style="display: flex!important; flex-basis: auto;" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('search') }}" href="{{ url_for('search') }}">Search</a>
          </li>
          <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('contact') }}" href="{{ url_for('contact') }}">Contact</a>
          </li>
        </ul>
        {% if not session['fname'] %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('login') }}" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('register') }}" href="{{ url_for('register') }}">Register</a>
            </li>
          </ul>
        {% else %}
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link {{ 'active' if request.path == url_for('profile') }}" href="{{ url_for('profile') }}">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
            </li>
          </ul>
        {% endif %}
      </div>
    </nav>    

    {% block content %}{% endblock %}

</html>