{% extends "layout.html" %}

{% block content %}
<head>
    <h1></h1>
    <title>
        VoyageVault | Profile
    </title>
</head>
<body class="page">
    <div class="layer">
        <h1 class="heading-center">My Profile</h1>
        <div class="content" style="color:white">
            <table class="table table-striped" style="color:white">
                <tr>
                    <td>Name:</td>
                    <td>{{ session['fname'] }} {{ session['lname'] }}</td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>{{ session['email'] }}</td>
                </tr>
                <tr>
                    <td>Contact Number:</td>
                    <td>{{ session['hpnum'] }}</td>
                </tr>
            </table>
        </div>
        <h2 class="heading-center">Update my profile:</h2>
        
        <div class="content" style="color:white">
            {% with errors = get_flashed_messages(category_filter=["error"]) %}
                {% if errors %}
                    {% for message in errors %}
                        <div class="alert alert-danger" role="alert">                
                        {{ message }}
                        </div>    
                    {% endfor %}
                    {% endif %}
            {% endwith %}
            {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                    {% for message in successes %}
                        <div class="alert alert-success" role="alert">                
                        {{ message }}
                        </div>    
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post" class="was-validated">
                <div class="field-group">
                    <input type="text" class="text-field" name="email" placeholder="Email" id="email" value="{{ session['email'] }}" required>
                </div>
                <div class="field-group">
                    <input type="number" class="text-field" name="hpnum" placeholder="Enter new contact number to update" id="hpnum" value="{{ session['hpnum'] }}" required>
                </div>
                <div class="field-group">
                    <input type="password" class="text-field" name="password" placeholder="Enter new password to update" id="password" required>
                </div>
                <div class="text-field">
                    <button type="submit" class="btn">Update</button>
                  </div>
                </div>
          </form>
        </div>
    </div>
</body>
{% endblock %}