{% extends "layout.html" %}

{% block content %}
    <head>
        <h1></h1>
        <title>
            VoyageVault | Register
        </title>
    </head>
    <body class="page">
      <div class="center"><p class="logo">VoyageVault</p></div>
      <div class="layer">
        <div class="content">
          <div class="content-bottom">
              {% with errors = get_flashed_messages(category_filter=["error"]) %}
              {% if errors %}
                {% for message in errors %}
                  <div class="alert alert-danger" role="alert">                
                    {{ message }}
                  </div>    
                {% endfor %}
              {% endif %}
              {% endwith %}
              {% with successes = get_flashed_messages(category_filter=["success"]) %}
                {% if successes %}
                  {% for message in successes %}
                    <div class="alert alert-success" role="alert">                
                      {{ message }}
                    </div>    
                  {% endfor %}
                {% endif %}
              {% endwith %}           
              <form action="" method="post">
                  <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="fname" id="fname" type="text" value placeholder="First Name">
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-user" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="lname" id="lname" type="text" value placeholder="Last Name">
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-envelope" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="email" id="email" type="text" value placeholder="Email">
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-phone" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="hpnum" id="hpnum" type="number" value placeholder="Contact No.">
                    </div>
                  </div>
                  <div class="field-group">
                    <span class="fa fa-lock" aria-hidden="true"></span>
                    <div class="text-field">
                      <input name="password" id="password" type="password" value placeholder="Password">
                    </div>
                  </div>
                  <div class="text-field">
                    <button type="submit" class="btn">Create Account</button>
                  </div>
                  <ul class="list-login-bottom">
                    <li class><a href="{{ url_for('login') }}" class>Login</a></li>
                    <li class><a href="{{ url_for('login') }}" class>Register your business</a></li>
                  </ul>
              </form>
          </div>
        </div>
      </div>
    </body>

{% endblock %}